$colour-primary: #FF6060;


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 50px;
    @media screen and (max-width: 768px){
        width: 100%;
        margin-top: 20px;
        margin-bottom: 27px;
    }
   
    
}

.kasa-logo {
    height: 68px;
    width: 210px;
    @media screen and (max-width: 768px){
        width: 145px;
        height: 46.88px;
    }
    
}

.listStyle {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    .navOptions {
        text-decoration: none;
        color: $colour-primary;
        font-size: 24px;
        margin-left: 57px;
        @media screen and (max-width: 767px){  
           font-size: 12px;
           text-transform: uppercase;
        }
    }
}